<%- include("header"); -%>
<body>


    <div class="jumbotron">
        <h1 class="display-4"> <%= shopName %> </h1>
        <hr class="my-4">
        <h2> Owned by <%= fName %> </h3>
        
        <p>  Description : <%= shopDescription %> </p>

        <p> Location : <%= shopLocation %> </p>

        <p> Email : <%= email %> </p>
       
        
        
        <!-- <img src="images/img3.jpg" alt="" class="centre"> -->
      </div>
      <img src="images/img3.jpg" alt=""  style="display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;">
     
      




<%- include("footer"); -%>